<div class="text-center">
  <h2 class="text-danger">Let's learn about Angular Directives</h2>
  <h3>What are Directives ??</h3>
  <h4>Directives are intructions in the DOM!!!</h4>
</div>

<div>
  <h2>*ngIf</h2>
  <p>
    The ngIf Directive can be used to show or hide elements based on true or
    false expressions
  </p>
  <h3>Example:</h3>
  <p>
    Below the button is a hidden paragraph element, that will show when the
    button is clicked. The paragraph element uses the *ngIf directive to check
    if its value is True or False
  </p>
  <button (click)="onButtonClick()" class="btn btn-danger">
    CLICK ME I AM A BUTTON!
  </button>
  <p *ngIf="buttonClicked" class="text-success">{{ randomStatement }}</p>
</div>
