<h3>Example using Event Binding</h3>
<p>{{ onClickStatus }}</p>
<button
  (click)="onClickStatusChanged()"
  [disabled]="newServer"
  class="btn btn-info"
>
  Create New Server
</button>

<hr />
<h3>Example using Two Way Data Binding</h3>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
  placeholder="Enter the server name"
/>

<button (click)="setServerName()" class="btn btn-warning">
  Create New Server
</button>
<p>{{ serverCreationStatus }}</p>

<!-- <input
  type="text"
  class="form-control"
  (input)="updateServerName($event)"
  [placeholder]="serverName"
/> -->

<hr />
