<p>This is the Servers Component</p>
<button
  (click)="onClickStatusChanged()"
  [disabled]="newServer"
  class="btn btn-info"
>
  Create New Server
</button>

<hr />

<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
  placeholder="Enter the server name"
/>

<button (click)="setServerName()" class="btn btn-warning">
  Create New Server
</button>
<p>{{ serverCreationStatus }}</p>

<!-- <input
  type="text"
  class="form-control"
  (input)="updateServerName($event)"
  [placeholder]="serverName"
/> -->

<hr />
<p>{{ onClickStatus }}</p>

<app-test></app-test>
<app-test></app-test>
<app-test></app-test>
